{
    "trailingComma": "all",
    "useTabs": false,
    "tabWidth": 4,
    "semi": false,
    "singleQuote": false,
    "printWidth": 100,
    "plugins": ["prettier-plugin-toml", "prettier-plugin-sh"],
    "overrides": [
        {
            "files": "{dot_zshrc, dot_zshenv}",
            "options": {
                "parser": "sh"
            }
        }
    ]
}
